.topleft {
   position: absolute;
   height: 30vh !important;
   width: 30vh !important;
   margin-left: calc(20% - 10px);
   top: 0;
   border-width: 10px;
   border-color: rgb(255, 0, 0);
   border-style: solid;
   border-radius: 5px;
}

.topright {
   position: absolute;
   height: 30vh !important;
   width: 30vh !important;
   margin-left: calc(100vw - 30vh - 20% - 10px);
   top: 0;
   border-width: 10px;
   border-color: rgb(255, 217, 0);
   border-style: solid;
   border-radius: 5px;
}

.bottomleft {
   position: absolute;
   height: 30vh !important;
   width: 30vh !important;
   margin-left: calc(20% - 10px);
   top: calc(75vh - 30vh);
   border-width: 10px;
   border-color: rgb(72, 255, 0);
   border-style: solid;
   border-radius: 5px;
}

.bottomright {
   position: absolute;
   height: 30vh !important;
   width: 30vh !important;
   margin-left: calc(100vw - 30vh - 20% - 10px);
   top: calc(75vh - 30vh);
   border-width: 10px;
   border-color: rgb(0, 162, 255);
   border-style: solid;
   border-radius: 5px;
}

.topleftnoborder {
   position: absolute;
   height: 30vh !important;
   width: 30vh !important;
   margin-left: 20%;
   top: 0;
   border-width: 0px;
   border-radius: 5px;
}

.toprightnoborder {
   position: absolute;
   height: 30vh !important;
   width: 30vh !important;
   margin-left: calc(100vw - 30vh - 20%);
   top: 0;
   border-width: 0px;
   border-radius: 5px;
}

.bottomleftnoborder {
   position: absolute;
   height: 30vh !important;
   width: 30vh !important;
   margin-left: 20%;
   top: calc(75vh - 30vh);
   border-width: 0px;
   border-radius: 5px;
}

.bottomrightnoborder {
   position: absolute;
   height: 30vh !important;
   width: 30vh !important;
   margin-left: calc(100vw - 30vh - 20%);
   top: calc(75vh - 30vh);
   border-width: 0px;
   border-radius: 5px;
}

.questimg {
   height: 100vh;
   width: 100vw;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 0;
}

.reinforcer {
   height: 60vh;
   width: 90vw;
   position: fixed;
   left: 5vw;
   top: 40vh;
   z-index: 0;
}

.speaker {
   position: absolute;
   width: 50vh;
   margin-left: calc(50vw - 17vh);
   top: 10vh
}

.PennController {
   font-size: 3vh;
   font-family: Arial;
}

.Button {
   padding: 1vh;
   border-radius: 5px;
   width: 7vw;
   font-size: 2vh;
   font-family: Arial;
   margin-top: 5vh;
   border: none;
   background-color: #d7d7d7;
}

.Button:hover {
   background-color: #c9c9c9;
}

.bignext {
   padding: 4vh;
   border-radius: 8px;
   width: 10vw;
   font-size: 5vh;
   z-index: 1;
}

.bignext2 {
   padding: 4vh;
   border-radius: 8px;
   width: 10vw;
   font-size: 5vh;
   z-index: 1;
}

.leftbut {
   position: absolute;
   margin-left: -15%;
}

.rightbut {
   position: absolute;
   margin-left: calc(15% - 7vw);
}

.consbut {
   margin-top: 0vh;
}

.Text {
   margin-top: 1vh;
}

.space, .space2 {
   margin-top: 40vh;
   padding: 3vh;
   border-radius: 8px;
   width: 20vw;
   font-size: 5vh;
   z-index: 1;
   background-color: #222;
   color: #ccc;
}

.space:hover {
   background-color: #222;
}

html, body {
   background-color: #eee !important;
}
